@import "../.././styles/breakpoints.scss";

.root {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--maincolor);
}

.headercontainer {
  width: 100%;

  z-index: 1000;
  background-color: var(--secondcolor);

  .headertitle {
    padding: var(--padding);
    padding-top: var(--paddingtop);
    padding-bottom: var(--paddingbottom);
    font-size: var(--fontsizenormal);
    text-transform: uppercase;
    line-height: var(--lineheightnormal);
    color: var(--maincolor);
    margin: 0;
    user-select: none;
    a {
      font-style: normal;
      color: var(--maincolor);
      &:hover {
        color: var(--maincolor);
        margin-left: 0;
        animation: none;
      }
    }
  }
}

@media (min-width: $breakpointSmall) {
  .headercontainer {
  }
}

@media (min-width: $breakpointMedium) {
  .headercontainer {
    .headertitle {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      font-size: var(--fontsizebig);
    }
  }
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
