// header.module.scss
@import "../.././styles/breakpoints.scss";

.root {
  display: block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid var(--maincolor);
}

.headercontainer {
  width: 100%;
  z-index: 1000;
  background-color: var(--secondcolor);
}

.headertitle {
  padding: var(--padding);
  padding-top: var(--paddingtop);
  padding-bottom: var(--paddingbottom);
  padding-right: calc(var(--padding) * 2);
  font-size: var(--fontsizenormal);
  text-transform: uppercase;
  line-height: var(--lineheightnormal);
  color: var(--maincolor);
  margin: 0;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

.titleLink {
  display: inline-flex;
  flex-wrap: wrap; // Allow wrapping
  align-items: center; // Uncomment this to vertically align items
  gap: 8px;
  color: var(--maincolor);
  margin: 0;
  padding: 0;

  span {
    width: fit-content;
    // Remove white-space: nowrap to allow wrapping
  }

  &:hover {
    color: var(--maincolor);
  }
}
.logo,
.logoBFH {
  height: 2em;
  color: var(--maincolor);
  display: inline-block;
  vertical-align: middle;

  path,
  polygon {
    fill: currentColor;

    &.accent {
      fill: white;
    }
  }
}

.seitentitel {
  display: inline-flex;
  align-items: center;
}

@media (min-width: $breakpointMedium) {
  .headertitle {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: var(--fontsizebig);
  }

  .logo {
    height: 1.5em;
  }

  .logoBFH {
    height: 1.5em;
  }
}
