.veranstaltungswrapper{
    color: var(--maincolor);
    .veranstaltungslink {
        .veranstaltungscontent {
        border-bottom: 1px solid var(--maincolor);
        cursor: pointer;
        &:hover {
            background-color: var(--maincolor);
            color: var(--secondcolor);
        }
    }
    &:last-child {
        border-bottom: 0px solid var(--maincolor);
        .beschreibung{
            padding-bottom: calc(var(--padding)*2);
        }
    }
    }
    .veranstaltungscontent {
        padding: var(--padding); 
        font-size: var(--fontsizehalf);
        line-height: var(--lineheighthalf);
        // div {
        //     margin: 0;
        //     padding: 0;
        // }
        .title {
            text-transform: uppercase;
            font-size: var(--fontsizenormal);
            line-height: var(--lineheightnormal);
        }
        .beschreibung {
            columns: var(--columnwidth) auto;
            column-gap: var(--columngap);
            p {
                margin: 0;
            }
        }
        .zentriert {
            align-content: center;
            text-align:center;
            margin: var(--padding);
            padding: var(--padding);
           // border: 1px solid var(--maincolor);
            border-radius: 100px;

            
            .referentIn{
                // padding-bottom: var(--padding);
            }
            .datum{
                // border: 1px solid var(--maincolor);
                // border-radius: 20px;
                // width: fit-content;
                // padding: 2px 4px 0px;
                // margin: var(--padding) 0px ;
                // margin-bottom: var(--padding);
            }
            .untertitel{
                // padding-bottom: var(--padding);
            }
            .organisation{
                // padding-bottom: var(--padding);
            }
        }
    }
}