.root {
 // --backgroundcolor:#ff0000
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border:solid thin var(--maincolor);
  border-radius: 10px;
  font-family: "Sang", Times, serif;


  &:hover {
    color: var(--maincolor);
    background-color: var(--secondcolor);
    }

   &.active{
    color: var(--secondcolor);
    background-color: var(--maincolor);
   } 

}



