@import "../.././styles/breakpoints.scss";


.root {
  // --backgroundcolor:#ff0000
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: transparent;
  border: solid thin var(--maincolor);
  border-radius: 8px;
  //font-family: "Sang", Times, serif;
  margin-block-start: 0.25rem;
  margin-inline-end: 0.25rem;
  padding: 0.1rem 0.25rem;
  font-size: calc(var(--fontsizesmall)*0.8); // 0.6875rem;
  // border-style: hidden double dashed;

  // box-shadow: 1px 1px 3px silver;

  //color:var(--maincolor);
  color: var(--maincolor);

  &:hover {
    background-color: var(--maincolor);
  }


}


@media (min-width: $breakpointSmall) {
  .root{
    font-size: var(--fontsizesmall); // 0.6875rem;

  }
   
}

@media (min-width: $breakpointMedium) {
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
