.filterfeldwrapper {
    user-select: none;
    border-bottom: 1px solid var(--maincolor);
    font-size: var(--fontsizesmall);
    line-height: var(--lineheightnormal);
    text-transform: uppercase;
    background-color: var(--secondcolor);

    .filterauflistung {
        display: flex;
        flex-wrap: wrap;

        padding: var(--paddingbottom) var(--padding) calc(var(--paddingbottom)*1.5);
        div {
            margin-right: 1rem;//20px;
            
            // Müssten wir nicht eher den wrapper stylen? also das div, statt das a? 
            // das macht das ganze padding und die zeilenhöhe etwas komisch zum bedienen
            a {
                border: 1px solid var(--maincolor);
                border-radius: 20px;
                width: fit-content;
                //zwischenraum von wort und border
             //   padding:  calc(var(--filterpadding1)*1.5)  calc(var(--filterpadding2)*3) calc(var(--filterpadding3)*5);
                padding:  0.25rem  1.25rem 0.01rem ;

                color: var(--maincolor);
                background-color: transparent;
                //font-family: "Sang";
                font-style: normal;
                &:hover {
                    color: var(--secondcolor);
                    background-color: var(--maincolor);
                    cursor: pointer;
                    margin-left: 0;
                    animation: none;
                }
            }
        }
        .forschungsfeldaktiv {
            a {
                background-color: var(--maincolor);
                color: var(--secondcolor);
                border: 1px solid var(--maincolor);
                //font-family: "Sang";
                font-style: normal;
            }
        }
    }
    
    .deaktivieren{
        margin: var(--paddingtop) var(--padding) 0px;
        cursor: pointer;
        a {
            font-style: normal;
            color: var(--secondcolor);
            background-color: var(--maincolor);
            //border-style: dotted;
            border: 1px solid var(--maincolor);
            border-radius: 20px;
            width: fit-content;
            padding: var(--filterpadding1) var(--filterpadding2) var(--filterpadding3);
           // font-family: "Sang";
            &:hover {
                margin-left: 0;
                animation: none;
            }
        }
    }
}