@import "../.././styles/breakpoints.scss";

.root{
}


@media (min-width: $breakpointSmall) {
  /*.filterfeldwrapper {
    position: sticky;
    top: 3rem;
    .filterauflistung {
      justify-content: center;
    }
  }*/
}

@media (min-width: $breakpointMedium) {
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
