.filterfeldwrapper {
    user-select: none;
    border-bottom: 1px solid var(--maincolor);
    font-size: var(--fontsizesmall);
    line-height: var(--lineheightnormal);
    text-transform: uppercase;
    background-color: var(--secondcolor);

    .filterauflistung {
        padding: var(--paddingtop) var(--padding) var(--paddingbottom);
        span {
            a {
                border: 1px solid var(--maincolor);
                border-radius: 20px;
                width: fit-content;
                padding: 2px 4px 0px;
                color: var(--maincolor);
                background-color: transparent;
                margin-right: 20px;
                font-family: "Sang";
                &:hover {
                    color: var(--secondcolor);
                    background-color: var(--maincolor);
                    cursor: pointer;
                }
            }
        }
        .forschungsfeldaktiv {
            a {
                background-color: var(--maincolor);
                color: var(--secondcolor);
                border: 1px solid var(--maincolor);
                font-family: "Sang";
            }
        }
    }
    
    .deaktivieren{
        margin: var(--paddingtop) var(--padding) 0px;
        cursor: pointer;
        a {
        color: var(--secondcolor);
        background-color: var(--maincolor);
        //border-style: dotted;
        border: 1px solid var(--maincolor);
        border-radius: 20px;
        width: fit-content;
        padding: 2px 4px 0px;
        font-family: "Sang";
        &:hover {
            // color: var(--maincolor);
            // background-color: var(--secondcolor);
            // border: 1px solid var(--secondcolor);
        }
        }
    }
}



.suchfeldwrapper {
    position: fixed;
    top: calc(var(--padding)/1.5);
    right: calc(var(--padding)*2.5);
    z-index: 150;
    cursor: pointer;
    display: flex;
    flex-grow: 2;
    .suchemoji{
        fill: none;
        stroke: #000;
        stroke-miterlimit: 10;
        stroke-width: 7.5px;
        user-select: none;
        margin:  0 var(--padding);
    }
    .inputfeld {
        display: none;
    }
    &.open {
        .inputfeld {
            display: block;
            height: 1.25em;
            font-family: "Sang";
            color: var(--maincolor);
            background-color: var(--secondcolor);
            border: 1px solid var(--maincolor);
            font-size: var(--fontsizehalf);
            line-height: var(--lineheighthalf);
        }
    }
}