@import "../.././styles/breakpoints.scss";



.root {
  top: 0rem;
  background-color: rgba(255, 255, 255, 0.85);
  .inner {
    display: flex;
    flex-wrap: wrap;
    z-index: 100;
    top: 0rem;
    padding-block-start: 0.5rem; //var(--paddingabsatzbottom);
    padding-block-end: 0.5rem; //var(--paddingabsatzbottom);
    border-bottom: solid thin var(--maincolor);
    height: auto;
    transition: all  0.1s ease-in-out;

    &:empty{
    //  display: none;
      padding: 0rem; //var(--paddingabsatzbottom);
      height: 0;
      border-bottom: none;
      transition: all  0.1s ease-in-out;


    }
}

}

@media (min-width: $breakpointSmall) {
  .root {
    .inner {
      justify-content: center;
      position: sticky;
    }
  }
}

@media (min-width: $breakpointMedium) {
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
