.root {
  position: fixed;
  bottom: 4rem;
  width: 4rem;
  height: 4rem;
  z-index: 50;
  right: 2rem;
  background-color: #ffffff;
  //  padding: 20px;
  border-radius: 50%;
  z-index: 500;
  border: solid 2px black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*
  &::before {
    content: "\2190";
    position: absolute;
    margin-top: 2rem;
    text-align: center;

    margin-left: -1rem;
  }*/
  &:hover {
    cursor: pointer;
  }

  .center {
    margin: auto;
  }
}
