@import "../.././styles/breakpoints.scss";

.editorialintro {
  padding: calc(var(--padding) * 3);
  border-bottom: 1px solid var(--maincolor);
  color: var(--maincolor);
  .titel {
    text-transform: uppercase;
    font-size: var(--fontsizenormal);
    line-height: var(--lineheightnormal);
    margin-bottom: var(--padding);
    // margin-left: calc(var(--padding)*5);
  }
}

.editorialwrapper {
  padding-top: calc(var(--padding) * 3);
  border-top: 1px solid var(--maincolor);
  margin-bottom: 6.5rem;
  color: var(--maincolor);
  scroll-margin-top: 7.5rem;
}

.serviceWrapper {
  margin-top: 5rem;
  padding-top: calc(var(--padding));

  border-top: solid thin black;

  position: relative;
  columns: 1;
  z-index: 100;
}

@media (min-width: $breakpointSmall) {
  .editorialwrapper {
    padding-top: 6.5rem;
  }

  .serviceWrapper {
    margin-top: 6.5rem;

    //margin-top: calc(var(--padding));
    columns: 1;

    margin-inline-start: 0rem;
    margin-inline-end: 0rem;
  }
}

@media (min-width: $breakpointMedium) {
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
