.aktivfilter {
    user-select: none;
    padding: 5px var(--padding) 2.5px var(--padding);
    border-bottom: 1px solid var(--maincolor);
    color: var(--maincolor);
    font-size: var(--fontsizesmall);
    line-height: var(--lineheightnormal);
    text-transform: uppercase;
    a {
        border: 1px solid var(--maincolor);
        border-radius: 20px;
        width: fit-content;
        padding: 2px 4px 0px;
        color: var(--maincolor);
        background-color: transparent;
        margin-right: 20px;
        &:hover {
            color: var(--secondcolor);
            background-color: var(--maincolor);
            cursor: pointer;
        }
    }
}
.projektlistwrapper {
    color: var(--maincolor);
    user-select: none;
    .projektwrapper { 
        width: 100vw;
        margin-bottom: 0px;
        border-bottom: 1px solid var(--maincolor);
        background-color: var(--secondcolor);
        .projektcontent {
            padding: 5px var(--padding) 2.5px var(--padding);
            color: var(--maincolor);
            .titel {
                text-transform: uppercase;
                font-size: var(--fontsizenormal);
                line-height: var(--lineheightnormal);
            }
            .forschungsfeldwrapper {
                font-size: var(--fontsizesmall);
                line-height: var(--lineheightnormal);
                text-transform: uppercase;
                .forschungsfeld {
                    border: 1px solid var(--maincolor);
                    border-radius: 20px;
                    width: fit-content;
                    padding: 2px 4px 0px;
                    color: var(--maincolor);
                    background-color: transparent;
                    &:hover {
                        color: var(--maincolor);
                        background-color: var(--secondcolor);
                        cursor: pointer;
                    }
                }
                .forschungsfeld:nth-child(2) {
                    margin-left: 20px;
                }
            }
            .datum {
                font-size: var(--fontsizesmall);
                line-height: var(--lineheightsmall);
                margin: 0px 3px 3px 0px;
                text-transform: uppercase;
            }

            .image {
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                // border: 1px solid var(--maincolor);
                
            }
        }
        &:hover {
            // border-bottom: 1px solid var(--secondcolor);
            background-color: var(--maincolor);
            .projektcontent {
                color: var(--secondcolor);
            }
            .forschungsfeldwrapper {
                .forschungsfeld {
                    border: 1px solid var(--secondcolor);
                    color: var(--secondcolor);
                }
            }
        }
    }
}




.suchfeldwrapper {
    position: fixed;
    top: calc(var(--padding)/1.5);
    right: calc(var(--padding)*4);
    z-index: 52;
    cursor: pointer;
    display: flex;
    flex-grow: 2;
    .suchemoji{
        font-size: calc(var(--fontsizenormal)*1);
        line-height: calc(var(--lineheightnormal)*1.25);
        user-select: none;
        margin-left: var(--padding);
        -webkit-text-stroke: 1px solid blue;
        -webkit-text-fill-color: none;
        color: yellow;
    }
    .inputfeld {
        display: none;
    }

    &.open {
        .inputfeld {
            display: block;
            height: 1.1em;
            font-family: "Sang";
            color: var(--maincolor);
            background-color: var(--secondcolor);
            border: 1px solid var(--maincolor);
            font-size: var(--fontsizenormal);
            line-height: var(--lineheightnormal);
            // margin-top: var(--padding);
            &:focus {
                // background-color: yellow;
                // border: yellowgreen;
            }
        }
    }
}