@import '../FilterElement/filterelement.module.scss';
@import '../ForschungsfeldElement/forschungsfeldelement.module.scss';

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.wrapper {
        color: var(--maincolor);
        user-select: none;
        margin-bottom: 0px;
        border-bottom: 1px solid var(--lightgrey);//var(--maincolor);
        position: relative;

        .backgroundwrapper{
            position: absolute;
            width: 100%;
            height:100%;
            opacity: 0;  
            &:hover {
                background-color: var(--maincolor);
            } 
        }

        .content {
           // padding: var(--paddingtop) var(--padding) var(--paddingbottom);
            padding: 1.25rem 1.25rem 1rem;

            --padding: 20px;
            --paddingbottom: 10px;
            --paddingtop: 15px;

            color: var(--maincolor);
            z-index: 5;
            position: relative;
            .datum {
      //  border-bottom: 1px solid var(--lightgrey);//var(--maincolor);
        width: fit-content;

                font-size: var(--fontsizesmall);
                line-height: var(--lineheightsmall);
                margin-bottom: var(--paddingabsatzbottom);
                text-transform: uppercase;
            }
            .titel {
                text-transform: uppercase;
                font-size: calc(var(--fontsizenormal)*1.09);
                line-height: calc(var(--lineheightnormal));
                // width: 60%;
                margin-bottom: var(--paddingabsatzbottom);
                cursor: pointer;
            }
            

        }
        &:hover {
            .content {
                color: var(--secondcolor);
            }
        }
    }


