.projektlistwrapper {
    color: var(--maincolor);
    user-select: none;
    .projektwrapper {
        margin-bottom: 0px;
        border-bottom: 1px solid var(--maincolor);
      
        .projektcontent {
            // padding: 5px var(--padding) 2.5px var(--padding);
            padding: var(--padding);
            color: var(--maincolor);
            z-index: 5;
            position: relative;
            
            .titel {
                text-transform: uppercase;
                font-size: var(--fontsizenormal);
                line-height: var(--lineheightnormal);
                margin-bottom: calc(var(--padding) / 2);
            }
            
            .image {
                -webkit-filter: grayscale(1);
                filter: grayscale(1);
                // border: 1px solid var(--maincolor);
            }
        }
        &:hover {
                background-color: var(--maincolor);
                .projektcontent {
                    color: var(--secondcolor);
                }
                
            } 
        }
    }