@import "../.././styles/breakpoints.scss";

.layoutContainer{
    margin-bottom: calc(var(--padding) * 1.8);
}
.container {
  position: relative;
  max-width: 640px;
  margin-right: auto; 
  margin-left: auto; 
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0 var(--padding);
}

@media (min-width: $breakpointSmall) {
    .container {
        max-width: 100;
        padding: 0;

    }
  }
  
  @media (min-width: $breakpointMedium) {
    .container {
        max-width: $breakpointMedium;
    }
  }
  
  @media (min-width: $breakpointLarge) {
    .container {
        max-width: $breakpointLarge;
    }
  }
  
  @media (min-width: $breakpointXLarge) {
    .container {
        max-width:$breakpointLarge;
    }
  }