.teamcontainer {
    .funktionstitle {
        padding: var(--padding) 0px var(--paddingbottom) var(--padding);
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        border-bottom: 1px solid var(--maincolor);
        color: var(--maincolor);
        position: sticky;
        top: 42px;
        z-index: 51;
        background-color: var(--secondcolor);
    }
    .menschwrapper {
        color: var(--maincolor);
        padding: var(--padding);
        border-bottom: 1px solid var(--maincolor);
        background-color: var(--secondcolor);
        cursor: pointer;
        font-size: var(--fontsizehalf);
        line-height: var(--lineheighthalf);
        .portrait {
            margin-bottom: var(--padding);
            display: block;
            width: var(--imagewidth);
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
        } 
        .name {
            text-transform: uppercase;
            font-size: var(--fontsizenormal);
            line-height: var(--lineheightnormal);
            a {
                border: 1px solid var(--maincolor);
                border-radius: 20px;
                padding: 4px 6px 0px;
            }
        }

        &:hover{
            background-color: var(--maincolor);
            .name {
                a {
                    color: var(--secondcolor);
                    border: 1px solid var(--secondcolor);
                    &:hover {
                        color: var(--maincolor);
                        background-color: var(--secondcolor);
                    }
                }
            }
        }
    }
}