@import "../../.././styles/breakpoints.scss";


.root {
    margin-top: calc(var(--padding) * 3);
 //   padding-left: calc(var(--padding) * 1);
    margin-bottom: calc(var(--padding) * 3);
    h1{
       // border-bottom:solid thin black;
    }
}


@media (min-width: $breakpointSmall) {
        .root{
            margin-top: 0;

        //    padding-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);

        }    
  }
  
  @media (min-width: $breakpointMedium) {
   
  }
  
  @media (min-width: $breakpointLarge) {
    
  }
  
  @media (min-width: $breakpointXLarge) {
   
  }