@import "../../components/Filter/filterelement.module.scss";


.funktionstitle {
    padding: var(--padding) 0px calc(var(--padding)/2) var(--padding);
    text-transform: uppercase;
    font-size: var(--fontsizenormal);
    line-height: var(--lineheightnormal);
    border-bottom: 1px solid var(--maincolor);
    color: var(--maincolor);
    position: sticky;
    top: 39.5px;
    z-index: 51;
    background-color: var(--secondcolor);
}