@import "../../.././styles/breakpoints.scss";

.root {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: calc(var(--padding) * 3);
    padding-left: calc(var(--padding));
    padding-right: calc(var(--padding));
    padding-top: calc(var(--padding));


}

@media (min-width: $breakpointSmall) {
    .root {


    }
  }
  
  @media (min-width: $breakpointMedium) {
    .root {


    }
  }
  
  @media (min-width: $breakpointLarge) {
    .root {


    }
  }
  
  @media (min-width: $breakpointXLarge) {
    .root {

    }
  }