.footerwrapper {
    position: relative;
    bottom: 0;
    padding: var(--padding);

    font-size: var(--fontsizesmall);
    line-height: var(--lineheighsmall);
    text-transform: uppercase;
    a {
        border: 1px solid var(--maincolor);
        border-radius: 20px;
        padding: 2px 4px 0px;
        &:hover {
            color: var(--secondcolor);
            background-color: var(--maincolor);
        }
    }
    div {
        width: var(--fontsizenormal);
        height: var(--fontsizenormal);
        margin-left: var(--padding);
        padding: 0;
        float: right;
        border: 1px solid var(--maincolor);
        border-radius: 100%;
        // &:hover {
        //     border: 1px solid var(--secondcolor);
        // }
    }
        .buttonMaincolor {
            background-color: var(--maincolor);
        }
        .buttonSecondcolor {
            background-color: var(--secondcolor);
        }
    
}