.footerwrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: calc(var(--padding)/2);
    background-color: var(--secondcolor);
    border-top: 1px solid var(--maincolor);

    font-size: var(--fontsizesmall);
    line-height: var(--lineheighsmall);
    text-transform: uppercase;
    color: var(--maincolor);
    a {
        border: 1px solid var(--maincolor);
        border-radius: 20px;
        padding: 2px 4px 0px;
        margin-right: var(--padding);
        &:hover {
            color: var(--secondcolor);
            background-color: var(--maincolor);
        }
    }
    .buttons {
        // padding: 0;
        // float: right;
        // border: 1px solid var(--maincolor);
        // border-radius: 40%;
        // font-size: var(--fontsizesmall);
        // line-height: var(--lineheighsmall);
        // &:hover {
        //     border: 1px solid var(--secondcolor);
        // }
        cursor: pointer;
       
    }
        #maincolor {
            background-color: var(--maincolor);
            &:hover {
                color: var(--maincolor);
                background-color: var(--maincolor);
            }
        }
        #secondcolor {
            background-color: var(--secondcolor);
            color: var(--secondcolor);
        }
    
}