@import "../styles/breakpoints.scss";
@import "../Components/FilterElement/filterelement.module.scss";
// @import "../styles/globals.scss";

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

@mixin desktop {
  @media (min-width: $breakpointSmall) {
    @content
  }
}

.allekacheln {
    width: 100%;
    position: absolute;
    padding: 0 var(--padding);
    margin: 0;
    padding-bottom: calc(var(--paddingbottom)*5);
    user-select: none;
    color: var(--maincolor);
    
    // @include desktop {
      columns: var(--columnwidth) auto;
      // width: 33%;
    // }
   .kachelwrapper {
    grid-column: 1;
      width: 100%;
      height: fit-content;
      padding-top: var(--padding);
      break-inside: avoid;
      page-break-inside: avoid;
      @include desktop {
        width: 100%;
      }
      .kachel {
        // padding: calc(var(--padding) / 2);
        border: 1px solid var(--maincolor);
        cursor: pointer;
        // min-height: 300px;
        max-height: fit-content;
        // display: flex;
        // flex-direction: column;
        // @include desktop {
        //   flex-direction: row;
        // }
        .text {
          // flex-grow: 2; 
          .uebertitel {
            padding: var(--paddingtop) var(--paddingtop) var(--paddingbottom);
            text-transform: uppercase;
            font-size: var(--fontsizenormal);
            line-height: var(--lineheightnormal);
            border-bottom: solid 1px var(--maincolor);
          }
          .titel {
            padding: var(--paddingbottom) var(--paddingtop);
            font-size: var(--fontsizenormal);
            line-height: calc(var(--lineheightnormal)*1.25);
            text-transform: uppercase;
          }
          p {
            margin: 0;
            padding: 0 var(--paddingtop);
            padding-bottom: var(--paddingbottom);
            display: block;
          }
          .weblink {
            padding: var(--paddingtop);
          }
          .date {
            padding: 0 var(--paddingtop);
          }
          .referentIn {
            padding: 0 var(--paddingtop);
          }
          .element {
            padding: 0 var(--paddingtop) var(--paddingtop);
          }
        }
        .bild {
          // flex-grow: 1;
          // align-self: flex-start;
          // @include desktop {
          // align-self: flex-end;
          // }
          padding: calc(var(--padding) / 2);
          
          .image {
            border: solid 1px var(--maincolor);
            // height: 15vh;
            width: 100%;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            display: block;
            // float: right;
          }
        }
      }
      &:hover {
        .kachel {
          background-color: var(--maincolor);
          color: var(--secondcolor);
          .uebertitel {
            // background-color: var(--secondcolor);
            // color: var(--maincolor);
            border-bottom: solid 1px var(--secondcolor);
          }
          .weblink {
            color: var(--secondcolor);
          }
        }
      }
    } 
  }