.hintergrund {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    // border: blue 1px solid;
}
.slugwrapper {
    z-index: 1;
    position: relative;
    min-height: inherit;
    padding: var(--padding); 
    margin-bottom: var(--padding);
    color: var(--maincolor);
    // height: 100%;
    .titel {
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        margin-top: calc(var(--padding) * 3);
        margin-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);
    }
    .subwrapper {
        margin-bottom: calc(var(--padding)*3);
        // a {
        //     font-family: "SangItalic";
        //     &:hover {
        //         margin-left: var(--padding);
        //     }
        // }
        .subtitel {
            text-transform: uppercase;
        }
    }
    .portrait {
        margin-bottom: calc(var(--padding)*3);
        width: var(--imagewidth);
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        display: block;
    }


    .subtitel {
        text-transform: uppercase;
    }
    .modulareinhalte {
        width: 100%;
        margin-bottom: calc(var(--padding) * 5);
        div {
            p {
                margin-bottom: var(--padding);
            }
        }
        img {
            margin: calc(var(--padding) * 5) 0;
            width: 100%;
            display: block;
        }
    }
    .listenwrapper{
        font-size: var(--fontsizehalf);
        line-height: var(--lineheighthalf);
        columns: 2 auto;
        column-gap: var(--columngap);
        div {
            break-inside: avoid;
            page-break-inside: avoid;
            .subtitel {
                text-transform: uppercase;
                margin-top: var(--padding);
            }
        }
        :first-of-type {
            .subtitel:first-of-type {
                margin-top: 0;
            }
        }
    }


    .speztitel {
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        margin-top: calc(var(--padding) * 3);
        margin-left: calc(var(--padding) * 5);
    }
    .referentIn {
        margin-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);
    }
    .zentriert {
        align-content: center;
        text-align:center;
        margin: var(--padding);
        padding: var(--padding);
        border-radius: 100px;
        margin-bottom: calc(var(--padding) * 5);
    }
}