@import ".././styles/breakpoints.scss";


@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.hintergrund {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    opacity: 1;
    animation: fadeout 500ms ;    // border: blue 1px solid;
    animation-delay: 200ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;

}


.gradientOpacity{
    height: 10rem;
    width: 100vw;

   position: fixed;
   z-index: 1;
}

.hintergrund_2 {
    width: 100vw;
    height:100%;
    z-index: 0;
    opacity: 1;
   // animation: fadein 500ms ;    // border: blue 1px solid;
     animation-delay: 200ms;
     animation-fill-mode: forwards;
     animation-timing-function: ease-in-out;
}
.slugwrapper {
    z-index: 100;
    position: relative;
    min-height: inherit;
    margin-bottom: var(--padding);
    color: var(--maincolor);
    // height: 100%;
    .titel {
       // text-transform: uppercase;
        //font-size: var(--fontsizenormal);
        //line-height: calc(var(--lineheightnormal) * 1.5);
        padding-top: calc(var(--padding) * 3);
        padding-left: calc(var(--padding) * 1);
        padding-bottom: calc(var(--padding) * 5);
    }

    .subwrapper {
        margin-bottom: calc(var(--padding)*2.5);
        .subtitel {
            text-transform: uppercase;
        }
    }
    .portrait {
        margin-bottom: calc(var(--padding)*5);
        width: var(--imagewidth);
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        display: block;
    }


    .subtitel {
        text-transform: uppercase;
        margin-bottom: var(--paddingabsatzbottom);
    }
    .modulareinhalte {
        width: 100%;
        //margin-bottom: calc(var(--padding) * 5);
        div {
            p {
                margin-bottom: calc(var(--padding) * 2);
            }
        }
        img {
            margin: calc(var(--padding) * 5) 0;
            width: 100%;
            display: block;
        }
    }
    .listenwrapper{
        font-size: var(--fontsizehalf);
        line-height: var(--lineheighthalf);
        columns: 2 auto;
        column-gap: var(--columngap);
        div {
            break-inside: avoid;
            page-break-inside: avoid;
            .subtitel {
                text-transform: uppercase;
                margin-top: calc(var(--padding)*1.5);
                margin-bottom: var(--paddingabsatzbottom);
            }
        }
        :first-of-type {
            .subtitel:first-of-type {
                margin-top: 0;
            }
        }
    }


    .speztitel {
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        margin-top: calc(var(--padding) * 3);
        margin-left: calc(var(--padding) * 5);
    }
    .referentIn {
        margin-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);
    }
    .zentriert {
        align-content: center;
        text-align:center;
        margin: var(--padding);
        padding: var(--padding);
        border-radius: 100px;
        margin-bottom: calc(var(--padding) * 5);
    }
}


@media (min-width: $breakpointSmall) {
    .slugwrapper {
        .titel{
            padding-left: calc(var(--padding) * 5);
        }
    }
  }
  
  @media (min-width: $breakpointMedium) {
   
  }
  
  @media (min-width: $breakpointLarge) {
    
  }
  
  @media (min-width: $breakpointXLarge) {
   
  }