.slugwrapper {
    padding: var(--padding); 
    margin-bottom: var(--padding);
    color: var(--maincolor);
    .titel {
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        margin-top: var(--padding) ;
        margin-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);
    }
    .subwrapper {
        margin-bottom: var(--padding);
        .subtitel {
            text-transform: uppercase;
        }
    }
    .portrait {
        margin-bottom: var(--padding);
        width: 100%;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        display: block;
    }


    .subtitel {
        text-transform: uppercase;
    }
    .modulareinhalte {
        width: 100%;
        div {
            p {
                margin-bottom: var(--padding);
            }
        }
        img {
            margin: calc(var(--padding) * 5) 0;
            width: 100%;
            display: block;
        }
    }
    .listenwrapper{
        font-size: var(--fontsizehalf);
        line-height: var(--lineheighthalf);
        columns: 2 auto;
        div {
            break-inside: avoid;
            page-break-inside: avoid;
            .subtitel {
                text-transform: uppercase;
                margin-top: var(--padding);
            }
        }
    }


    .speztitel {
        text-transform: uppercase;
        font-size: var(--fontsizenormal);
        line-height: var(--lineheightnormal);
        margin-top: var(--padding) ;
        // margin-left: calc(var(--padding) * 5);
    }
    .referentIn {
        // margin-left: calc(var(--padding) * 5);
        margin-bottom: calc(var(--padding) * 5);
    }
    .zentriert {
        align-content: center;
        text-align:center;
        margin: var(--padding);
        padding: var(--padding);
        border-radius: 100px;
        margin-bottom: calc(var(--padding) * 5);
    }
}