@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.forschungsfeldwrapper {
    font-size: var(--fontsizesmall);
    line-height: var(--lineheightnormal);
    text-transform: uppercase;
    cursor: pointer;
    break-inside: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.25rem;
}
