@import "../../.././styles/breakpoints.scss";

.root {
  margin-block-end: 1.25rem;
  break-inside: avoid-column;
  vertical-align: top;
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;   
       box-sizing: border-box;    

  h2 {
    text-decoration: underline;
  }
  display: inline-block;
  width: 100%;
}

@media (min-width: $breakpointSmall) {
  .root {
    margin-block-end: 2rem;
    width: 50%;
  }
}

@media (min-width: $breakpointMedium) {
  .root {
    width: 33%;
   padding-right:1rem;
  }
}

@media (min-width: $breakpointLarge) {
}

@media (min-width: $breakpointXLarge) {
}
