@import "../../.././styles/breakpoints.scss";

.root {
  margin-bottom: 2rem;
  break-inside: avoid-column;
    h2{
      text-decoration: underline;
  }
}


@media (min-width: $breakpointSmall) {
    .root {
    }

  }
  
  @media (min-width: $breakpointMedium) {
   
  }
  
  @media (min-width: $breakpointLarge) {
    
  }
  
  @media (min-width: $breakpointXLarge) {
   
  }