@import "../../.././styles/breakpoints.scss";



.root {
    margin-top: 5rem;
    padding-top: calc(var(--padding));
    position: relative;
}




@media (min-width: $breakpointSmall) {
    .root{
        margin-top: 6.5rem;
        margin-inline-start:0rem;
        margin-inline-end: 0rem;
    }
  }
  
  @media (min-width: $breakpointMedium) {
   
  }
  
  @media (min-width: $breakpointLarge) {
    
  }
  
  @media (min-width: $breakpointXLarge) {
   
  }