.root {
  max-width: 700px;
  p { 
    margin: 0;
   // padding-bottom: calc(var(--padding));
    margin-bottom: calc(var(--padding));
  }
  h2{
    text-decoration: underline;
  }
}

.mcWrapper{
   // padding-bottom: calc(var(--padding));
    margin-bottom: calc(var(--padding));

}