.root {
  :global(.carousel .control-dots .dot) {
  }
  :global(.carousel .control-dots) {
    margin: 0;
   // bottom: 5.2rem;
  }

  :global(.carousel .slide .legend) {
    // bottom: 5.2rem;
     border-radius: 0;
     color:  var(--maincolor);
     background-color: var(--secondcolor);
     font-size: var(--fontsizenormal);
     text-align: left;
     width: 100%;
     left:0;
    position: relative;
    bottom: 0;
    padding: var(--padding);
    margin: 0px;
     display: block;
     opacity: 1;
     max-width: 100%;
   }
 

  
}


 .arrowStyles {
  position: absolute;
  display: flex; 

  z-Index: 2;
  top: calc(50% - 15px);
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  font-size: 2rem;
  background-color: rgba(255,255,255,0.4);

  &:hover{
    color: white
  }

  .innerArrowStyles{
    vertical-align: middle;
    margin: auto; /* Important */ 

  }
};

 .indicatorStyles {
  background: var(--secondcolor);
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  margin:0 0.25rem;
  z-index: 5;
  border-radius: 50%;
  border:solid thin black;
};

.selected{
  background: var(--maincolor);
}
