@import "./variables.scss";

@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/SangBleuKingdom-Regular.otf") format("opentype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sang", Times, serif;
  background-color: var(--secondcolor);
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-size: var(--fontsizenormal);
  line-height: var(--lineheightnormal);
  font-family: "Sang";
  font-weight: normal;
  color: var(--maincolor);
  text-transform: uppercase;
  margin: 0;
  padding: var(--padding);
  padding-bottom: 5px;

  // position: static;
  border-bottom: 1px solid var(--maincolor);
}

/* Firefox  */
* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--maincolor) var(--secondcolor);
}
 /* Chrome, Edge, und Safari  */
*::-webkit-scrollbar {
  width: 12px;
  border: 1px var(--maincolor) solid;
}
*::-webkit-scrollbar-track {
   border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--maincolor);
}
*::-webkit-scrollbar-corner{
  background: var(--maincolor);
}