@import "./variables.scss";

@mixin desktop {
  @media (min-width: $breakpointSmall) {
    @content;
  }
}

@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: italic, oblique;
  src: url("../assets/SangBleuKingdom-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/SangBleuKingdom-Regular.otf") format("opentype");
}
/*
@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: italic, oblique;
  src: url("../assets/SangBleuRepublic-BookItalic-WebTrial.woff");
}

@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/SangBleuRepublic-Book-WebTrial.woff");
}


@font-face {
  font-family: "Sang";
  font-weight: bold;
  font-style: normal;
  src: url("../assets/SangBleuRepublic-Bold-WebTrial.woff");
}
*/

/*
@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: italic, oblique;
  src: url("../assets/SangBleuKingdom-RegularItalic-WebTrial.woff");
}
@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/SangBleuKingdom-Regular-WebTrial.woff");
}

@font-face {
  font-family: "Sang";
  font-weight: bold;
  font-style: bold;
  src: url("../assets/SangBleuKingdom-Bold-WebTrial.woff");
}
*/
/*
*/




html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sang", Times, serif;
  background-color: var(--secondcolor);
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
}

html{
  font-size: var(--fontsizenormal);
  line-height: var(--lineheighnormal);
}


@keyframes smoothslidein {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: var(--padding);
  }
}

h1 {
  padding: 0;
  margin: 0;
  font-size: var(--fontsizetitle);
  line-height: var(--lineheighttitle);
  font-weight: normal;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: calc(var(--fontsizenormal) * 1.1);
  line-height: var(--lineheighnormal);
  font-weight: normal;
  //padding-inline-start: 2rem;
}

p {

}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  //color: var(--maincolor);
  &:hover {
    //animation: smoothslidein 0.2s forwards;
    text-decoration: underline;
  }
}

/* Firefox  */

/*
* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--maincolor) var(--secondcolor);
}
 /* Chrome, Edge, und Safari  */
/*
*::-webkit-scrollbar {
  width: 12px;
  border: 1px var(--maincolor) solid;
}
*::-webkit-scrollbar-track {
   border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--maincolor);
}
*::-webkit-scrollbar-corner{
  background: var(--maincolor);
}*/
