@import "./variables.scss";

@mixin desktop {
  @media (min-width: $breakpointSmall) {
    @content
  }
}


@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: italic, oblique;
  src: url("../assets/SangBleuKingdom-RegularItalic.otf") format("opentype");
}

@font-face {
  font-family: "Sang";
  font-weight: normal;
  font-style: normal;
  src: url("../assets/SangBleuKingdom-Regular.otf") format("opentype");
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sang", Times, serif;
  background-color: var(--secondcolor);
}

@keyframes smoothslidein {
  0%   {margin-left: 0;}
  100% {margin-left: var(--padding);}
}

a {
  color: inherit;
  text-decoration: none;
  font-style: italic;
  color: var(--maincolor);
  &:hover {
    animation: smoothslidein 0.3s forwards;
  }
}


/* Firefox  */
* {
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: var(--maincolor) var(--secondcolor);
}
 /* Chrome, Edge, und Safari  */
*::-webkit-scrollbar {
  width: 12px;
  border: 1px var(--maincolor) solid;
}
*::-webkit-scrollbar-track {
   border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--maincolor);
}
*::-webkit-scrollbar-corner{
  background: var(--maincolor);
}