@import "./breakpoints.scss";

html {
    //-> hier in rem definieren?
    // -> 1rem =16px
    --padding: 20px;
    --paddingbottom: 10px;
    --paddingtop: 15px;
    --paddingabsatzbottom: 0.25rem;//5px;
    --fontsizenormal: 18px;
    --lineheightnormal: 21px;



    --fontsizesmall: calc(var(--fontsizenormal)/1.5);
    --lineheighsmall: calc(var(--lineheightnormal)/1.5);
    --fontsizehalf: calc(var(--fontsizenormal)-2);
    --lineheighthalf: calc(var(--lineheightnormal)-5);
    --fontsizetitle: calc(var(--fontsizenormal)*1.1);
    --lineheighttitle: calc(var(--lineheightnormal)*1.1);

    --columnwidth: 1;
    --columngap: 50px;
     
    --imagewidth: 100%;

    //abstand forschungsfeldwort und border, in safari soll top 0px sein und in firefox 2
    //top
    --filterpadding1: 2px;
    //horizontal
    --filterpadding2: 4px;
    //bottom
    --filterpadding3: 0px;


    --lightgrey:rgb(120,120,120)

  }

 
@media (min-resolution:.001dpcm) {
    .safari10 { 
        --filterpadding1: 0px;
    }
}

@media (min-width: $breakpointSmall) {
  html {
    --columnwidth: 2;
  } 
}

@media (min-width: $breakpointMedium) {
  html {
    --imagewidth: 50%;
  }
}

@media (min-width: $breakpointLarge) {
  html {
    --columnwidth: 3;
    --imagewidth: 75%;
  } 
}

@media (min-width: $breakpointXLarge) {

}