@import "./breakpoints.scss";

html {
    // colors werden direkt im footer definiert, default value ist black / white 
    // --maincolor: #0000ff;
    // --secondcolor: #f08173;
    // --maincolor: black;
    // --secondcolor: #f0ffff;

    //-> hier ev in em oder rem definieren?
    // -> 1rem =16px
    --padding: 12.5px;
    --fontsizenormal: 18px;
    --lineheightnormal: 21px;

    --fontsizesmall: calc(var(--fontsizenormal)/1.5);
    --lineheighsmall: calc(var(--lineheightnormal)/1.5);
    --fontsizehalf: calc(var(--fontsizenormal)-2);
    --lineheighthalf: calc(var(--lineheightnormal)-5);
    --fontsizetitle: calc(var(--fontsizenormal)*2);
    --lineheighttitle: calc(var(--lineheightnormal)*2);

    --columnwidth: 1;
  }


@media (min-width: $breakpointSmall) {
  html {
    --columnwidth: 2;
  } 
}

@media (min-width: $breakpointMedium) {
  
}

@media (min-width: $breakpointLarge) {

}

@media (min-width: $breakpointXLarge) {

}