.menuwrapper {
    position: sticky;
    top: 0;
    background-color: var(--secondcolor);
    z-index: 51;
    .menubutton {
        position: fixed;
        right: var(--padding);
        top: -1px;
        font-size: calc(var(--fontsizenormal)*1.5);
        color: var(--maincolor);
        cursor: pointer;
        &:hover{
            // font-style:oblique -30deg;
        }
        span:last-child{
            display: none;
        }
    }
    .menucontent {
        display: none;
    }

    &.open {
        background-color: var(--maincolor);
        .menubutton{
            span:first-child{
                display: none;
            }
            span:last-child{
                display: block;
            }
        }
        .menucontent {
            // animation: fadein 1s linear;
            // @keyframes fadein {
            //     0% {display: none;}
            //     100% {display: blpck;}
            // }
            display: block;
            border-bottom: 1px solid var(--maincolor);
            div {
                color: var(--secondcolor);
                text-transform: uppercase;
                font-size: var(--fontsizenormal);
                line-height: var(--lineheightnormal);
                width: 100vw;
                padding: var(--padding) var(--padding) 5px var(--padding);
                border-bottom: 1px solid var(--secondcolor);
                &:hover {
                    color: var(--maincolor);
                    background-color: var(--secondcolor);
                    border-bottom: 1px solid var(--maincolor);
                }
                // a:hover {
                //     font-style:oblique 30deg;
                // }
            }
            div:last-child {
                border-bottom: 0px solid var(--maincolor);
            }
            
            // .activelink {
            //     // border: solid 1px var(--secondcolor);
            //     border-radius: 20px;
            // }

        }
       
    }

}