.menuwrapper {
    background-color: var(--maincolor);
    .menubutton {
        position: fixed;
        right: var(--padding);
        top: -1px;
        font-size: calc(var(--fontsizenormal)*1.5);
        color: var(--maincolor);
        cursor: pointer;
        &:hover{
           transform:skew(-30deg);
        }
    }
    .menucontent {
        display: none;
    }

    &.open {
        .menubutton{
        color: var(--secondcolor);
        }
        .menucontent {
            div {
                color: var(--secondcolor);
                text-transform: uppercase;
                font-size: var(--fontsizenormal);
                line-height: var(--lineheightnormal);
                width: 100vw;
                padding: var(--padding) var(--padding) 5px var(--padding);
                // margin-top: 5px;
                &:hover {
                    color: var(--maincolor);
                    background-color: var(--secondcolor);
                }
            }
            display: block;
            .activelink {
                border: solid 1px var(--secondcolor);
                border-radius: 20px;
            }

        }
    }

}