@import "../.././styles/breakpoints.scss";

.root {
  display: flex;
  height: 2.7rem;
  width: 15.5rem;
  position: fixed;
  z-index: 100;
  right: 0rem;
  top: 10rem;
  gap: 0.5rem;
  align-items: center;

  transition: all 0.5s ease-in-out;
  padding: 0.5rem;
  background-color: white;
  border-radius: 2.5rem 0 0 2.5rem;
  transform: translateX(12rem);

  &.active {
    transform: translateX(0);
   // background-color: darken(white,90%);
   border:solid 1px black;
   box-shadow: 0 0 1px 1px black;
   .lupe_wrapper {
  border:none;
  box-shadow:none;
  }

    .inputfield {
      opacity: 1;
     // background-color: black;

    }
  }
}

.lupe_wrapper {
  flex: 0 0 3rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 3rem;
  border: solid 1px black;
  box-shadow: 0 0 1px 1px black;
  z-index: 150;
  background-color: white;
  font-size: var(--fontsizesmall);
  line-height: var(--lineheightsmall);
  &.active {
    border:red;
  }
  
}

.lupe {
  &.active {
    color: blue;
  }
}

.slidein {
  background-color: white;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: solid thin #111111;
  border-radius: 8px;
  // box-shadow: 0 0 1px 1px #111111;
  background-color: #ffffff;
  font-size: var(--fontsizesmall);
  flex: 0 0 2rem;
  height: 2rem;
}

.inputfield {
  //margin-left: 1rem;
  -webkit-appearance: none;
  border-style: solid; 

color:black;
border:none;

  box-sizing: border-box;
  padding: 0.2rem;

background-color: white;

margin: 0;
border-bottom: 1px solid black;
  //margin-right: 0.5rem;
  outline: 0;
  outline: none;

  //border-width: 0 0 1px;
  //border-color: white;
  font-size: var(--fontsizesmall);
  line-height: var(--lineheightsmall);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  &::placeholder{
    color:black;
    opacity: 0.75;
  }
}

@media (min-width: $breakpointSmall) {
  .root {
    //@at-root  top: 8.5rem;
  }
}

@media (min-width: $breakpointMedium) {
  .root {
    height: 4rem;
    width: 22rem;
    right: 0rem;
    top: 10rem;
    gap: 12px;
    transform: translateX(17rem);

    //  top: 8rem;
    .lupe_wrapper {
      font-size: var(--fontsizenormal);
      line-height: var(--lineheightnormal);
      flex: 0 0 4rem;
      height: 4rem;
    }
    .inputfield {
    //  margin-right: 1rem;
      font-size: var(--fontsizenormal);
      line-height: var(--lineheightnormal);
    }
    .button {
      border: solid thin #111111;
      border-radius: 8px;
      // box-shadow: 0 0 1px 1px #111111;
      background-color: #ffffff;
      font-size: var(--fontsizenormal);
      flex: 1 1 auto;
      height: 2rem;
    }
  }
}

@media (min-width: $breakpointLarge) {
  .root {
    // top: 8rem;
  }
}

@media (min-width: $breakpointXLarge) {
  .root {
    //  top: 7rem;
  }
}
